.order-confirmation{
    padding:10px;
    display:flex;
    justify-content: space-between;
}
.cancelOrder{
    color:white;
    background-color: gray;
    
}
.proceed{
    color:white;
    background-color: green;
    
}